<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Spring Security OAuth 2.0 Sample</title>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.css" th:href="@{/webjars/bootstrap/css/bootstrap.css}" />
        <link rel="stylesheet" th:href="@{/webjars/github-com-zTree-zTree_v3/zTreeStyle/zTreeStyle.css}"/>
        <style>
            div#rMenu {
                position:absolute;
                visibility:hidden;
                top:0;
                text-align: left;
                padding:4px;
            }
            div#rMenu a{
                padding: 3px 15px 3px 15px;
                background-color:#cad4e6;
                vertical-align:middle;
            }

            form .inputNotNull{
                color: red;
            }
        </style>
    </head>
    <body>
        <div th:fragment="header">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse">
                        <form class="navbar-form navbar-left" th:action="@{/appConfig}" method="get">
                            <button type="submit" class="btn btn-default navbar-btn">返回</button>
                        </form>
                    </div>
                </div>
            </nav>
        </div>
        <div class="container">
            <div th:if="${error}" class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 th:text="${error}" class="text-center"></h4>
            </div>
            <div class="panel panel-default" style="width: 50%; float: left;">
                <div class="panel-heading">
                    <h3 class="panel-title">应用菜单:</h3>
                </div>
                <ul id="tree" class="ztree" style="width:230px; overflow:auto;"></ul>
                <div th:if="${messages}" class="panel-footer">
                    <h4>Messages:</h4>
                    <table class="table table-condensed">
                        <tbody>
                            <tr class="row" th:each="message : ${messages}">
                                <td th:text="${message}">message</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="formDiv" class="panel panel-default" style="width: 40%; float: left; margin-left: 20px; display: none">
                <div class="panel-heading">
                    <h3 class="panel-title">菜单信息:</h3>
                </div>
                <form id="menuForm" style="padding: 10px">
                    <input type="hidden" name="id">
                    <input type="hidden" name="parentId">
                    <div id="parentNameDiv">父级菜单：<input class="form-control" type="text" name="parentName" readonly autocomplete="off"><br></div>
                    菜单名称<span class="inputNotNull">*</span>：<span id="clientTip"></span><input class="form-control"  type="text" name="name" oninput="checkMenuName(this)" placeholder="请输入菜单名称" autocomplete="off"><br>
                    菜单编码<span class="inputNotNull">*</span>：<input class="form-control" type="text" name="code" oninput="checkMenuCode(this)" placeholder="菜单编码，以/开头，英文字母" autocomplete="off"><br>
                    <div id="completeCodeDiv">完整的菜单编码：<input class="form-control" type="text"  name="completeCode" autocomplete="off" readonly><br></div>
                    描 述：<input class="form-control" type="text" name="description" autocomplete="off"><br>
                    <button id="btnSave" class="btn btn-primary btn-lg btn-block" type="button" onclick="submitForm()">保存</button>
                </form>
            </div>
        </div>

        <a id="ctx" style="display: none" th:href="@{/}"></a>

        <div id="rMenu" style="display: none">
            <a href="javascript:void(0);" class="list-group-item" onclick="createChildMenu()">新增下级</a>
            <a href="javascript:void(0);" class="list-group-item" onclick="modifyMenu()">修改</a>
            <a href="javascript:void(0);" class="list-group-item" onclick="deleteMenu()">删除</a>
        </div>

        <!-- Target 用于复制菜单内容 -->
        <input type="hidden" id="copyInput" value="" />

        <!-- Trigger 用于复制菜单内容 -->
        <button id="copyBtn" data-clipboard-target="#copyInput" data-clipboard-action="copy" style="display: none">复制</button>

        <script src="/webjars/jquery/jquery.min.js" th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script src="/webjars/bootstrap/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
        <script th:src="@{/webjars/github-com-zTree-zTree_v3/jquery.ztree.all.min.js}"></script>
        <script th:src="@{/webjars/clipboard/dist/clipboard.min.js}"></script>
        <script>
            function submitForm() {
                var ctx = $('#ctx').attr("href");
                console.log("ctx = ", ctx);

                const param = {};
                $($('#menuForm').serializeArray()).each(function () {
                    console.debug(this);
                    param[this.name] = this.value;
                });

                console.info(param);
                $.ajax({
                    type: "POST",
                    url: ctx + "menu/saveOrUpdate",
                    data: JSON.stringify(param),
                    async: false,
                    dataType: "json",
                    contentType: "application/json",
                    error: function (request) {
                        alert("保存失败");
                    },
                    success: function (data) {
                        console.info(data);
                        alert(data.retMsg);
                        if (data.retCode === 2000) {
                            // 传递要open的节点id
                            window.location.href = setOpenId2Href(param.parentId);
                        }
                    }
                });
            }

            function modifyMenu() {
                hideRMenu();

                var ctx = $('#ctx').attr("href");
                console.log("ctx = ", ctx);

                var treeObj = $.fn.zTree.getZTreeObj("tree");
                var nodes = treeObj.getSelectedNodes();
                if (nodes.length < 1) {
                    alert("请点击选择要修改的菜单节点");
                    return;
                }

                if (nodes.length > 1) {
                    alert("请选择一个要修改的菜单节点");
                    return;
                }

                var treeNode = nodes[0];
                if (treeNode.id === "0") {
                    alert("根节点不能修改");
                }

                // 找到父节点，显示父节点名称
                var parentNode = treeNode.getParentNode();

                var parentName;
                if (parentNode) {
                    parentName = parentNode.name;
                } else {
                    parentName = "根节点";
                }

                clearForm('menuForm');
                makeFormShowData(treeNode, parentName);
                makeFormEditable();
            }

            function createChildMenu() {
                hideRMenu();

                var ctx = $('#ctx').attr("href");
                console.log("ctx = ", ctx);

                var treeObj = $.fn.zTree.getZTreeObj("tree");
                var nodes = treeObj.getSelectedNodes();
                if (nodes.length < 1) {
                    alert("请点击选择要增加下级的菜单节点");
                    return;
                }

                if (nodes.length > 1) {
                    alert("请选择一个需要增加下级的菜单节点");
                    return;
                }

                var parentMenu = nodes[0];

                clearForm('menuForm');
                makeFormShowParentData(parentMenu.id, parentMenu.name);
                makeFormEditable();
            }

            function deleteMenu() {
                hideRMenu();

                var ctx = $('#ctx').attr("href");
                console.log("ctx = ", ctx);

                var treeObj = $.fn.zTree.getZTreeObj("tree");
                var nodes = treeObj.getSelectedNodes();
                if (nodes.length < 1) {
                    alert("请点击选择要删除的菜单节点");
                    return;
                }

                if (nodes.length > 1) {
                    alert("请选择一个需要删除的菜单节点");
                    return;
                }

                var menu = nodes[0];
                console.debug(menu);
                if (!confirm("确定删除[" + menu.name + "]？")) {
                    return;
                }

                $.ajax({
                    type: "GET",
                    url: ctx + "menu/delete?id=" + menu.id,
                    error: function () {
                        alert("获取数据失败");
                    },
                    success: function (data) {
                        console.info(data);

                        // 传递要open的节点id
                        var href = setOpenId2Href(menu.parentId);
                        window.location.href = href;
                    }
                })
            }

            /**
             * 需要open的节点id
             * @param openId    节点id
             */
            function setOpenId2Href(openId) {
                var parameterMap = getParameterMap();
                parameterMap.set("openId", openId);
                return setParameterMap2Search(parameterMap);
            }

            // 返回参数map
            function getParameterMap() {
                let parameters = window.location.search;
                let map = new Map;
                // 如果没有参数
                if (parameters.indexOf("?") === -1) return map;
                let strs = parameters.substr(1).split("&");
                for (let i = 0; i < strs.length; i++) {
                    let str = strs[i].split("=");
                    map.set(str[0], str[1]);
                }

                return map;
            }

            /**
             * 将参数Map设置到地址栏查询条件
             * @param parameterMap  参数Map
             */
            function setParameterMap2Search(parameterMap) {
                if (!parameterMap) {
                    return;
                }

                let newSearch = null;
                for (let key of parameterMap.keys()) {
                    if (newSearch == null) {
                        newSearch = "?" + key + "=" + parameterMap.get(key);
                    } else {
                        newSearch = newSearch + "&" + key + "=" + parameterMap.get(key);
                    }
                }

                console.info("newSearch = ", newSearch);
                var href = window.location.href;
                href = href.substring(0, href.indexOf("?"));
                href = href + newSearch;
                console.log(href);
                return href;
            }
        </script>
        <script>
            //右键树结构
            function zTreeOnRightClick(event, treeId, treeNode) {
                console.log("event = ", event);
                console.log("treeId = ", treeId);
                console.log("treeNode = ", treeNode);

                if (!treeNode && event.target.tagName.toLowerCase() !== "button" && $(event.target).parents("a").length === 0) {
                    showRMenu("root", event.clientX, event.clientY, treeNode);
                } else if (treeNode && !treeNode.noR) {
                    showRMenu("node", event.clientX, event.clientY, treeNode);
                }
            }

            // 点击树节点
            function ztreeOnClick(event, treeId, treeNode, clickFlag) {
                console.debug(treeId, clickFlag);
                if (clickFlag === 1) {
                    console.debug("表单展示节点数据")
                    // 选中树节点
                    makeFormShowData(treeNode);
                    makeFormReadOnly();
                } else {
                    console.debug("隐藏表单");
                    // 取消选中节点
                    makeFormHidden();
                }
            }

            /**
             * 表单展示数据
             * @param treeNode  树节点数据
             * @param parentName    父级菜单名称
             */
            function makeFormShowData(treeNode, parentName) {
                $("input[name='id']").val(treeNode.id);
                $("input[name='parentId']").val(treeNode.parentId);
                $("input[name='name']").val(treeNode.name);
                $("input[name='code']").val(treeNode.code);
                $("input[name='completeCode']").val(treeNode.completeCode);
                $("input[name='description']").val(treeNode.description);

                $("input[name='parentName']").val(parentName);
            }

            // 显示表单，只读
            function makeFormReadOnly() {
                $("#formDiv").css("display", "block");
                $("#completeCodeDiv").css("display", "block");

                $("#parentNameDiv").css({"display": "none"});
                $("span.inputNotNull").css({"display": "none"});
                $("input[name='name']").attr("readonly", "readonly");
                $("input[name='code']").attr("readonly", "readonly");
                $("input[name='completeCode']").attr("readonly", "readonly");
                $("input[name='description']").attr("readonly", "readonly");

                $("#btnSave").css("display", "none");
            }

            // 显示表单，可编辑
            function makeFormEditable() {
                $("#formDiv").css("display", "block");

                $("#parentNameDiv").css({"display": "block"});
                $("span.inputNotNull").css({"display": ""});
                $("input[name='name']").removeAttr("readonly");
                $("input[name='code']").removeAttr("readonly");
                $("input[name='completeCode']").attr("readonly", "readonly");
                $("#completeCodeDiv").css("display", "none");
                $("input[name='description']").removeAttr("readonly");

                $("#btnSave").css("display", "block");
            }

            // 显示父级菜单的信息
            function makeFormShowParentData(parentId, parentName) {
                $("input[name='parentId']").val(parentId);
                $("input[name='parentName']").val(parentName);
            }

            // 隐藏表单，会清空表单数据，方便后续复用
            function makeFormHidden() {
                $("#formDiv").css("display", "none");

                clearForm('menuForm');
            }

            // 清空表单数据
            function clearForm(id) {
                var formObj = document.getElementById(id);
                if (formObj === undefined) {
                    return;
                }

                for (var i = 0; i < formObj.elements.length; i++) {
                    if (formObj.elements[i].type === "text") {
                        formObj.elements[i].value = "";
                    }
                    else if (formObj.elements[i].type === "hidden") {
                        formObj.elements[i].value = "";
                    }
                    else if (formObj.elements[i].type === "password") {
                        formObj.elements[i].value = "";
                    }
                    else if (formObj.elements[i].type === "radio") {
                        formObj.elements[i].checked = false;
                    }
                    else if (formObj.elements[i].type === "checkbox") {
                        formObj.elements[i].checked = false;
                    }
                    else if (formObj.elements[i].type === "select-one") {
                        formObj.elements[i].options[0].selected = true;
                    }
                    else if (formObj.elements[i].type === "select-multiple") {
                        for (var j = 0; j < formObj.elements[i].options.length; j++) {
                            formObj.elements[i].options[j].selected = false;
                        }
                    }
                    else if (formObj.elements[i].type === "textarea") {
                        formObj.elements[i].value = "";
                    }

                }
            }

            //显示右键菜单
            function showRMenu(type, x, y, treeNode) {
                $("#rMenu").show();
                $("#rMenu").css({"top": y + "px", "left": x + "px", "visibility": "visible"}); //设置右键菜单的位置、可见
                $("body").bind("mousedown", onBodyMouseDown);

                // 选中节点
                var treeObj = $.fn.zTree.getZTreeObj("tree");
                treeObj.selectNode(treeNode);
            }

            //隐藏右键菜单
            function hideRMenu() {
                $("#rMenu").css({"visibility": "hidden"}); //设置右键菜单不可见
                $("body").unbind("mousedown", onBodyMouseDown);
            }
            //鼠标按下事件
            function onBodyMouseDown(event) {
                if (!(event.target.id == "rMenu" || $(event.target).parents("#rMenu").length > 0)) {
                    // $("#rMenu").hide();
                    $("#rMenu").css({ "visibility": "hidden"});
                }
            }
        </script>
        <script type="text/javascript" >
            var zTreeObj,
                setting = {
                    view: {
                        selectedMulti: false
                    },
                    callback: {
                        onRightClick: zTreeOnRightClick,
                        onClick: ztreeOnClick
                    },
                    data: {
                        simpleData: {
                            enable: true,
                            idKey: "id",
                            pIdKey: "parentId",
                            rootPId: 0
                        }
                    }
                },
                zTreeNodes = [
                    {"id":1, "parentId":0, "name": "学习网站"},
                    {"id":11, "parentId":1, "name": "码农之家", "url": "https://spring.io", open: true},
                    {"id":12, "parentId":1, "name": "百度", "url": "https://www.baidu.com"},
                    {"id":111, "parentId":11, "name": "程序猿进阶"}
                ];

            $(document).ready(function(){
                var ctx = $('#ctx').attr("href");
                console.log("ctx = ", ctx);

                var openId = getParameterMap().get("openId");

                $.ajax({
                    type: "GET",
                    url: ctx + "menu/getMenuTreeData?openId=" + openId,
                    error: function () {
                        alert("获取数据失败");
                    },
                    success: function (data) {
                        console.info(data);
                        zTreeNodes = data.data;
                        zTreeObj = $.fn.zTree.init($("#tree"), setting, zTreeNodes);
                    }
                })
            });
        </script>
        <script>
            /*ctrl c 复制选中节点的数据*/
            $(document).ready(function () {
                console.debug("自定义ctrl c")
                //  监听 ctrl + c 事件
                $('#tree').unbind('keydown').bind('keydown', function(e) {
                    if (e.ctrlKey && e.keyCode === 67) {
                        let treeeObj = $.fn.zTree.getZTreeObj("tree");
                        let selectedNodes = treeeObj.getSelectedNodes();
                        console.debug(selectedNodes);
                        if (selectedNodes.length === 0) {
                            return;
                        }

                        $('#copyInput').val(selectedNodes[0].name + "=" + selectedNodes[0].completeCode);
                        // 模拟点击 复制 按钮
                        $("#copyBtn").click();

                        // 返回false, 防止重复触发copy事件
                        return false;
                    }
                })

                // 鼠标右键的复制事件
                /*$(document).unbind('copy').bind('copy', function(e) {
                    console.log('右键复制 监听成功');
                    // 返回false, 防止重复触发copy事件
                    return false;
                });*/

                // 创建一个实例对象，参数是一个选择器，绑定的是触发复制/剪切事件的标签
                var clipboard = new ClipboardJS("#copyBtn");

                // 成功回调
                clipboard.on("success", function (e) {
                    console.info("Action:", e.action); // 操作：copy或者cut
                    console.info("Text:", e.text); // 复制/剪切的内容
                    console.info("Trigger:", e.trigger); // 触发对象

                    e.clearSelection();
                });

                // 失败回调
                clipboard.on("error", function (e) {
                    console.error("Action:", e.action); // 操作：copy或者cut
                    console.error("Trigger:", e.trigger); // 触发对象
                });
            })
        </script>
    </body>
</html>
